<div class='m-2'>

  <b>Задача 03</b> <br/>
  Все то же самое что и в задании 2, только randomNumber должен получаться с сервера:<br />
  <code>GET http://localhost:3000/randomNumber</code> <br />
  На момент получения данных с сервера кнопка "add random number" должна быть задизейблена
</div>

<div class='m-2'>
  <button class='btn btn-primary' (click)="onAddRandomNumber()" [disabled]="isHttpLoading$$ | async">Add random number</button>
</div>

<div class='m-2 row'>
  <div  class='col col-3'>
    <div>Numbers in collection:</div>
    <div *ngFor="let number of randomNumbers$$ | async"> {{ number }}</div>
  </div>

  <div class='col col-3' style='color: black' *ngIf="numbersArrStats$$ | async as stats">
    <div>Statistics: (вторая часть задачи)</div>
    <div>Count: {{ stats.count }}</div>
    <div>Min: {{ stats.min }}</div>
    <div>Max: {{ stats.max }}</div>
    <div>Average: {{ stats.average }}</div>
  </div>
</div>
